<h1>Movie Preview</h1>
<hr />
<ul>

<li>Title:<%= @movie.title %></li>
<li>Duration:<%= @movie.duration %></li>
<li>Genre:<%= @movie.genre %></li>
<li>Description:<%= @movie.description%></li>
<li>Trailer: <iframe width="520" height="445" src= <%= @movie.trailer %> </li>
</ul>

